﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br/><br /><br />


<div class="container" >

    
    <div class="col-md-12">

        <p>
            Teslim ettiğimiz her makineyle birlikte sunduğumuz avantajlı destek hizmetleri
            ve %100 sorunsuz makine politikasıyla bugüne kadar 400’den fazla makine teslimi
            gerçekleştirdiğimiz müşterimiz sayesinde Türkiye’nin en iyi laser teknolojileri ,
            şirketi olma yolunda hızla ilerliyoruz. Genç, dinamik, amatör ruhlu profesyonel
            ekibimizle sizleri ciddiye alıyor, ihtiyaçlarınıza çözüm üretiyoruz.
        </p>

        <p>
            Kullanım alanına göre endüstriyel ve ofis makineleri sınıfında bulunan ürünlerimizle
            masaüstü ölçülerden büyük plaka ölçülerine kadar lazerler üretiyor, satıyor ve satış
            sonrası teknik servis hizmeti veriyoruz. Eksenel lazer kesim makineleri, Eksenel lazer
            markalama makineleri, Galvo lazer markalama makineleri, Galvo lazer kesim makineleri ve
            ihtiyaca özel çözümlerle yanınızdayız.
        </p>
        <br /><br /><br />
    </div>
   
    <div class="col-md-8 yenik" >
         <iframe  class="yenik" width="1200" height="620" src="https://www.youtube.com/embed/aplNAimzymg" frameborder="0" allowfullscreen></iframe>
    </div>



</div><!-- Container Kapanış divi -->

