﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="center">
                        <i class="icon-apple icon-md icon-color1"></i>
                        <h4>ARGE</h4>
                        <p>Almira Labs™’te her zaman neyi nasıl daha yapabiliriz sorusuna cevaplar arayan bir
                         araştırma ruhu hakimdir. Müşterilerimizin sektörel ihtiyaçlarına göre modifikasyon,
                         özel istekler ve makinelerimizi bir sonraki aşamaya taşımak için gerekli araştırmalar burada gerçekleşir.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-3 col-sm-6">
                    <div class="center">
                        <i class="icon-android icon-md icon-color2"></i>
                        <h4>Kurulum ve Eğitim</h4>
                        <p>Yeni makinenizle üretime sorunsuz ve hızlı bir şekilde başlayabilmeniz için gereken tüm 
                        desteği veriyoruz. Makine kurulumu, teknik ekipmanın ayarları, makine hakkında detaylı bilgi
                         ve eğitim Teknik Servis ekibimiz tarafından gerçekleştiriliyor.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-3 col-sm-6">
                    <div class="center">
                        <i class="icon-windows icon-md icon-color3"></i>
                        <h4>Yerinde Teknik Destek</h4>
                        <p>Makineniz bozuldu acil desteğe ihtiyacınız var, lazer tüpünüz bitti, makine kontrol yazılım 
                        ayarlarını bir türlü tutturamadınız veya sadece basitçe sormak istediğiniz teknik bir sorunuz mu var?
                         Almira Laser Teknik Destek Ekibi size her zaman  bir telefon kadar yakın.</p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-3 col-sm-6">
                    <div class="center">
                        <i class="icon-html5 icon-md icon-color4"></i>
                        <h4>Uzaktan Teknik Destek</h4>
                        <p>Yaşadığınız sorunun bir an önce çözülmesi ve üretime devam edebilmeniz için  duruma göre bilgisayarınıza
                         uzaktan erişim istemiyle bağlanabiliyor veya gerekiyorsa ekibimizi bulunduğunuz noktaya yönlendirip yerinde
                         çözümüretiyoruz.</p>
                    </div>
                </div><!--/.col-md-4-->
               <!--/.col-md-4-->
               <!--/.col-md-4-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->