﻿@{
    ViewBag.Title = "Home Page";
}

@**@

<div class="container">
    <!-- Jumbotron Header -->

    <header class="jumbotron hero-spacer yeni">
        <h3>Kilazeraz'a hoşgeldiniz</h3>
        <p>
            Kilazeraz, Türkiye’de fiber lazer tasarımı yapan, geliştiren ve üreten ilk ve tek sanayi şirketidir.
            Kilazeraz, fiber lazer sistemlerin performansını önemli oranda arttıran özgün
            ve yerli bir teknoloji geliştirmeyi başarmıştır..
        </p>
        <p> OSMAN KİRAZ B1512.10105</p>
    </header>
    <hr>
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>ÜRÜNLERİMİZ</h3>
        </div>
    </div>
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/aeonnova7lazer.jpg" alt="">
                <div class="caption">
                    <h3>Nova 7</h3>
                    <p>
                        700×500 mm Çalışma Alanı,
                        <br />121 x 123 x 101 cm
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary">Sepete Ekle</a> <a href="#" class="btn btn-default">Ürün İçeriği</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/pulsarF20lazer.jpg" alt="">
                <div class="caption">
                    <h3>F 20</h3>
                    <p>Yerli üretim<br />20Watt Laser güç seçeneği</p>
                    <p>
                        <a href="#" class="btn btn-primary">Sepete Ekle</a> <a href="#" class="btn btn-default">Ürün İçeriği</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/creaspeedg7.jpg" alt="">
                <div class="caption">
                    <h3>CREASPEED G7</h3>
                    <p>
                        900×900 mm çalışma alanı<br />
                        Her keseye uygun laser tüp seçimi
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary">Sepete Ekle</a> <a href="#" class="btn btn-default">Ürün İçeriği</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="/img/D1510lazer.png" alt="">
                <div class="caption">
                    <h3>D1510</h3>
                    <p>Yerli Üretim <br />143×95 cm Çalışma Alanı</p>
                    <p>
                        <a href="#" class="btn btn-primary">Sepete Ekle</a> <a href="#" class="btn btn-default">Ürün İçeriği</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>


<!-- *******************************************************************************************-->


<div class="container">
    
    <div class="col-md-6 col-md-6 hero-feature">

        <h4>2014 SIGN REKLAM FUARI GÖRÜNTÜLERİMİZ</h4> 
        <div class="thumbnail">
            <div class="caption">
                 <img src="/img/fuar.jpg" alt=""> 
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-6 hero-feature">
       <h4>YERLİ ÜRETİM LAZER MAKİNESİ</h4> 
           <div class="thumbnail">
             <div class="caption">            
                <img src="/img/D1510lazer2.png" alt="">
            </div>
        </div>
    </div>
</div>




    <!-- /.row -->
    <hr>
    <!-- Footer -->
