﻿
@{
    ViewBag.Title = "Uyegiris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple HTML & CSS Login Form</title>



    <link rel="stylesheet" href="@Url.Content("~/Content/Login/")css/style.css">

</head>
<body>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <form method="post" action="index.html">
        <div class="box">
            <h1>Üye Girişi</h1>
            <input type="email" name="email" value="" placeholder="Email veya Kullanıcıadı" onfocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />

            <input type="password" name="email" value="" placeholder="Şifreniz" onfocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />

            <a href="#"><div class="btn">Oturum Aç</div> </a> <!-- End Btn -->
            <a href="@Url.Action("Uyelik","Home")"><div id="btn2">Kaydol</div></a> <!-- End Btn2 -->
      



            
        </div> <!-- End Box -->

    </form>
    <p>Şifremi Unuttum ?<a href="#"> <u style="color:#f1c40f;">Buraya Tıkla!</u> </a></p>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>

    <script src="/js/index.js"></script>
</body>
</html>
