﻿
@{
    ViewBag.Title = "Uyelik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Uyelik</h2>*@

<div class="container" >

    <div class="col-md-6" >
        <br /><br /><br />

                <div class="thumbnail">
                    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
                    
                    <style type="text/css">
                        #form1 #sifre {
                            background-color: #00CCFF;
                        }

                        #form1 #sifret {
                            background-color: #00CCFF;
                        }
                    </style>

                    <form id="form1" name="form1" method="post" action="">
                        <table bgcolor="#FFCC99" width="318" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="48" colspan="2" align="right">ÜYELIK FORMU	 </td>
                            </tr>
                            <tr>
                                <td width="117" height="27">Ad&#305;n&#305;z</td>
                                <td width="250">
                                    <label>
                                        <input name="ad" type="text" id="ad" placeholder=""  />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Soyad&#305;n&#305;z</td>
                                <td>
                                    <label>
                                        <input name="soyad" type="text" id="soyad" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>&Uuml;ye Ad&#305; </td>
                                <td>
                                    <label>
                                        <input name="uyead" type="text" id="uyead" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>E-posta</td>
                                <td>
                                    <label>
                                        <input name="eposta" type="text" id="eposta" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>&#350;ifre</td>
                                <td>
                                    <label>
                                        <input name="sifre" type="password" id="sifre" size="15" maxlength="8" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>&#350;ifre T. </td>
                                <td>
                                    <label>
                                        <input name="sifret" type="password" id="sifret" size="15" maxlength="8" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <br />
                                        <input name="gonder" type="submit" id="gonder" value="G&ouml;nder" />
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <br />
                                        <input name="sil" type="reset" id="sil" value="Sil" />
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </form>


                </div>
     </div>


    <div class="col-md-6">
        <br /><br /><br />
        <div class="thumbnail">

            <form id="form2" action="" method="get">
                <table bgcolor="#CCFFFF" width="523" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="48" colspan="2" align="center">ziyaretci formu	 </td>
                    </tr>
                    <tr>
                        <td width="170">Ad&#305;-Soyad&#305;</td>
                        <td width="353">
                            <label>
                                <input type="text" name="textfield" />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>E-posta</td>
                        <td>
                            <label>
                                <input type="text" name="textfield2" />
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Mesaj&#305;n&#305;z</td>
                        <td>
                            <label>
                                <textarea name="textfield3" cols="50" rows="10"></textarea>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <label>
                                <input name="gonder" type="submit" id="gonder" value="G&ouml;nder" />
                                <input name="sil" type="reset" id="sil" value="Sil" />
                            </label>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
   
    
    
    </div>



    




</div>


